<style>
    ul li {
        font-size: 12px;
    }
</style>
<div class="card">
    <div class="card-body">
        <h3 style="font-weight: bold !important;">Bei einer Wiederholungsprüfung ortsfester elektrischer Anlagen unter Berücksichtigung der DIN VDE 0105-100 sind folgende Schritte durchzuführen:</h3>
        <ol>
            <li>
                <h3>Vollständiges Prüfprotokoll</h3>
                <p class="m-0" style="font-weight: bold;">Folgende Reihenfolge ist einzuhalten:</p>
                <ul style="list-style: square">
                    <li>Sichtprüfung</li>
                    <li>Messung des Schutzleiterwiderstands</li>
                    <li>Messung des Isolationswiderstand</li>
                    <li>Messund des Schutzleiterstroms</li>
                    <li>Messund des Berührungsstroms</li>
                    <li>Nachweiß der Schutzmaßnahmen bei SELV und PELV</li>
                    <li>Messung des Ableitstroms durch isollierte Eingänge des Prüflings</li>
                </ul>
            </li>
            <li>
                <h3>Besichtigung</h3>
                <p>Beim Besichtigen wird festgestellt, ob die elektrische Anlage den Sicherheitsvorschriften entspricht, ob die Betriebsmittel normgerecht ausgewählt und errichtet wurden und ob Beschädigungen erkennbar sind.</p>

                <p class="m-0" style="font-weight: bold">Unter anderem ist durch Besichtigungen Folgendes zu prüfen:</p>
                <ul style="list-style: square">
                    <li>Schutz gegen elektrischen Schlag durch Abdeckungen und Umhüllungen (Basisschutz)</li>
                    <li>Schutz gegen thermische Einflüsse</li>
                    <li>Vorhandensein von Brandschottungen und anderen Vorkehrungen gegen die Ausbreitung von Feuer</li>
                    <li>Auswahl der Kabel, Leitungen und Stromschienen nach Strombelastbarkeit und Spannungsfall</li>
                    <li>Auswahl und Einstellung von Schutz- und Überwachungseinrichtungen</li>
                    <li>Auswahl der Betriebsmittel unter Berücksichtigung der äußeren Einflüsse, beispielsweise der IP-Schutzart</li>
                    <li>Kennzeichnung der Neutral- und Schutzleiter sowie der Stromkreise, Sicherungen, Schalter und Klemmen</li>
                    <li>Vorhandensein und Vollständigkeit der Dokumentationen und Schaltungsunterlagen</li>
                    <li>Ordnungsgemäße Ausführung aller elektrischen Verbindungen</li>
                </ul>
                <p class="m-0">Die anschließenden Messungen sollen gewährleisten, dass Grenzwerte oder spezielle Anforderungen erfüllt werden. Messungen dürfen nur mit geeigneten Prüfmitteln durchgeführt werden, die wiederum anderen Normen unterliegen.</p>
            </li>
            <li>
                <h3>Erproben und Messen (Prüfungswiederholung nach Fehlerbehebung)</h3>
                <p class="m-0">Beim Erproben und Messen werden zusätzlich zur Widerstandsmessung und der Durchgängikeitsprüfung auch die Spannungspolarität und die elektrotechnischen Schutzmaßnahmen überprüft. Anschließend folgt die Prüfung der Phasenfolge der Außenleiter, Funktionsprüfungen der ortsfesten elektrischen Anlage und letztendlich ein Spannungsfall (für die meisten elektrischen Betriebsmittel ist ein Grenzwert des Spannungsfalls von etwa 10 Prozent der Nennspannung zugelassen).</p>
                <h4>Welche Messgeräte sollten verwendet werden:</h4>
                <p class="m-0">Da es sich um eine Erstprüfung handelt, müssen Installationstester als Messgeräte verwendet werden, deren Beschaffenheit durch die DIN EN 60204-1 (VDE 0113-1) geregelt werden. Weitere Messgeräte und deren Normung sind:</p>
                <ul style="list-style: square">
                    <li>Schutzmaßnahmentester (E DIN EN 61557)</li>
                    <li>Gerätetester (DIN EN 61557-16)</li>
                    <li>Maschinentester (DIN EN 60204-1)</li>
                    <li>Messzubehör (DIN EN 61010-031)</li>
                </ul>
            </li>
            <li>Überprüfung verbundener Betriebsmittel</li>
            <li><h3>Prüfbericht</h3>
                <p>Für neu errichtete, geänderte oder erweiterte elektrische Anlagen ist nach Beendigung der Prüfung ein Prüfbericht über die mängelfreie Erstprüfung zu erstellen. Dieser muss folgende Mindestangaben enthalten:<p>

                <p>Allgemeine Angaben: Name und Anschrift des Auftraggebers und des Auftragnehmers, die Bezeichnung der Prüfprotokolle für die Dokumentation von Messwerten (Protokoll-Nr.), die Bezeichnung des Objekts (z. B. Anlage, Gebäude, Gebäudeteile, Verteiler, Stromkreise), die geprüften Stromkreise mit deren Bezeichnungen und zugehörigen Schutzeinrichtungen und die verwendeten Mess- und Prüfgeräte.
                    Bewertung der Prüfung: Alle bei dem Besichtigen, Erproben und Messen ermittelten Informationen sowie die Ergebnisse von Berechnungen müssen vom Prüfer bewertet werden. Diese Bewertung ist das Ergebnis der Prüfung. Das Ergebnis der Prüfung ist einschließlich der für die Bewertung relevanten Messwerte zu dokumentieren. Bei der Bewertung sollten auch Messwerte, die die Normanforderungen erfüllen, aber auffällig von den zu erwarteten Werten abweichen, berücksichtigt werden. Eine Dokumentation aller einzelnen Messwerte ist nicht gefordert.
                    Prüfstelle, Prüfer, Prüfdatum und Unterschrift.</p>
                <p>Die vorschriftsmäßige Dokumentation von Prüfungen ist wichtig und gilt auch als Nachweis für den Errichter, um z. B. bei vertraglichen Streitigkeiten mit seinem Auftraggeber oder bei einem nachträglich aufgetretenen Schaden nachweisen zu können, dass die Errichtung korrekt und vollständig ausgeführt wurde. Sie schafft somit eine wertvolle Rechtssicherheit für den Anlagen-Errichter.</p>
            </li>
        </ol>
        <ol>
            <li>
                <h2>Sichtprüfung</h2>
                <p>
                    Überprüfen Sie regelmäßig die PV-Module auf sichtbare Schäden wie Risse, Brüche, Verfärbungen oder Verschmutzungen.
                    Prüfen Sie die Montagestruktur auf Lockerungen, Verformungen oder Beschädigungen.
                    Stellen Sie sicher, dass die Kabelverbindungen fest und unbeschädigt sind.
                </p>
            </li>
            <li>
                <h2>Elektrische Prüfung</h2>
                <p>
                    Schalten Sie die PV-Anlage ab, bevor Sie elektrische Prüfungen durchführen.
                    Messen Sie den Leerlaufspannungswert (Voc) und den Kurzschlussstromwert (Isc) des PV-Moduls mit einem geeigneten Messgerät.
                    Überprüfen Sie den Gleichstromwiderstand (Ohm) der Verbindungen und Kabel, um sicherzustellen, dass kein erhöhter Widerstand vorliegt.
                    Messen Sie den Wechselstromwiderstand der Inverter-Ausgangsleitungen, um sicherzustellen, dass er den Spezifikationen entspricht.
                </p>
            </li>
            <li>
                <h2>Leistungsprüfung</h2>
                <p>
                    Messen Sie die tatsächliche Ausgangsleistung der PV-Anlage unter Standardtestbedingungen (STC) mit einem Leistungsmessgerät.
                    Vergleichen Sie die gemessene Leistung mit der Nennleistung der PV-Module, um sicherzustellen, dass die Anlage ordnungsgemäß funktioniert.
                </p>
            </li>
            <li>
                <h2>Isolationsprüfung</h2>
                <p>
                    Führen Sie eine Isolationsprüfung durch, um sicherzustellen, dass keine elektrischen Leckströme auftreten.
                    Verwenden Sie ein Isolationsmessgerät, um den Isolationswiderstand zwischen den Modulen und dem Rahmen oder anderen geerdeten Teilen zu messen.
                </p>
            </li>
            <li>
                <h2>Blitzschutzprüfung</h2>
                <p>
                    Überprüfen Sie den ordnungsgemäßen Anschluss des Blitzableiters und die Integrität der Erdungsanlage.
                    Führen Sie eine Sichtprüfung der Blitzschutzkomponenten durch, um sicherzustellen, dass sie nicht beschädigt oder korrodiert sind.
                </p>
            </li>
            <li>
                <h2>Sicherheitsprüfung</h2>
                <p>
                    Überprüfen Sie die Sicherheitseinrichtungen der PV-Anlage wie Schutzschalter, Überspannungsschutzvorrichtungen und Fehlerstromschutzschalter.
                    Stellen Sie sicher, dass alle elektrischen Komponenten und Verbindungen ordnungsgemäß gekennzeichnet und geschützt sind.
                </p>
            </li>
            <li>
                <h2>Dokumentation</h2>
                <p>
                    Führen Sie eine gründliche Dokumentation aller Prüfungen, Messungen und Inspektionen durch.
                    Notieren Sie Abweichungen, festgestellte Mängel und durchgeführte Reparaturen.
                    Bewahren Sie die Dokumentation für zukünftige Referenzen und als Nachweis der Einhaltung von Sicherheitsstandards auf.
                </p>
            </li>
        </ol>
    </div>
</div>