<form method="post" action="{{ path('app_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('{{ 'partner.confirm.delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn btn-danger btn-sm">{{ 'w.delete'|trans }}</button>
</form>
