<table style="border: none">
    <tr>
        <td style="width: 50%;padding: 0;position: relative">
            <table style="border:none;margin: 0;">
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">1</span></td>
                    <td><p>Im <strong>Prüfprotokoll</strong> sind die technischen Werte des Istzustands der elektrischen Anlage, nach DIN VDE 0100-600 (Erstprüfung), festgehalten</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">2</span></td>
                    <td><p><strong>Auftraggeber</strong> ist derjenige, in dessen Auftrag, und für dessen Rechnung die elektrische Anlage errichtet, erweitert oder geändert worden ist (Anschlussnehmer, Anlagenbenutzer, Anlagenbetreiber).
                            Er bestätigt mit seiner Unterschrift:<br>
                            "Die errichtete Anlage ist vom Auftragnehmer in dem Umfang übergeben worden, wie es im Übergabebericht niedergelegt ist."<br><br>
                            Mit der Unterschrift bestätigt der Auftraggeber die Abnahme und vertragsgemäße Lieferung. Damit ist der Stichtag für die Übergabe der errichteten elektrischen Anlage festgelegt. Das bedeutet in der Praxis:<br>
                            Bei einer Vertragsvereinbarung im Unternehmerverkehr nach DIN 1961 "Vergabe- und Vertragsordnung für Bauleistungen - VOB", Teil B "Allgemeine Vertragsbedingungen für die Ausführung von Bauleistungen", geht mit der Abnahme die Gefahr auf den Auftraggeber über (§ 12 Nr. 6 VOB, Teil B), soweit der Auftraggeber sie nicht schon nach § 7 VOB, Teil B (Verteilung der Gefahr), trägt.
                            Nach § 13 Nr. 4 VOB, Teil B, beträgt die Gewährleistungsfrist für Arbeiten an Bauwerken 4 Jahre, bei Nichtannahme eines Angebotes zum Abschluss eines Wartungsvertrages jedoch nur 2 Jahre (§ 13 Nr. 4 (2) VOB, Teil B).</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">3</span></td>
                    <td><p><strong>Auftragnehmer</strong> ist der mit der Durchführung der Arbeiten vom Auftraggeber Beauftragte, der mit dem Elektrotechniker-Handwerk in die Handwerksrolle und beim örtlichen Netzbetreiber in das Elektro-Installateurverzeichnis eingetragen ist.
                            Er ist aufgrund seiner Kenntnisse, Erfahrungen sowie Fort- und Weiterbildung in der Lage, die elektrische Anlage vorschriftsmäßig zu prüfen.</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">4</span></td>
                    <td><p><strong>Prüfer</strong> ist der verantwortliche Unternehmer (Auftragnehmer) selbst oder die von ihm mit der Durchführung der Prüfung ausdrücklich beauftragte Elektrofachkraft. Der Prüfer bestätigt mit seiner Unterschrift sowohl gegenüber seinem Unternehmer (Arbeitgeber) als auch gegenüber dem Auftraggeber die vorschriftsmäßig durchgeführte Prüfung. Verweigert der Auftraggeber seine Unterschrift, so ist dieses schriftlich zu vermerken und die Prüfungsunterlagen sind ihm per Post mit einem entsprechenden Anschreiben zuzustellen.
                            Dokumentation ist die Sammlung zugeordneter Dokumente, z. B. Schaltpläne, Diagramme oder Tabellen DIN EN 61082, (VDE 0040).</p></td>
                </tr>
            </table>
        </td>
        <td style="width: 50%;padding: 10px;position: relative">
            <table style="border:none;margin: 0;">
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">5</span></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">6</span></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">7</span></td>
                    <td><p></p></td>
                </tr>
            </table>
        </td>
    </tr>
</table>