<form method="post" action="{{ path('customer_delete', {'id': customer.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button data-confirm="{{ 'f.confirm.deleteCustomer'|trans({'%name%':customer.fullName}) }}" type="button" class="confirm btn btn-danger">{{ 'c.delete'|trans }}</button>
</form>
