{% if faq.image %}
    <img style="width: 100%;box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;" src="{{ asset(appAssetPath~'/faq/'~faq.image) }}" />
{% endif %}
<p>{{ (faq.text or faq.title? faq.text : 'Keine Hilfe hinterlegt')|raw }}</p>
{% if faq.video %}
    <video controls style="width: 100%">
        <source src="{{ asset(appAssetPath~'/faq/'~faq.video) }}" type="video/mp4">
    </video>
{% endif %}

