{% if faq.video %}
    <video controls style="width: 100%">
        <source src="{{ asset(appAssetPath~'/faq/'~faq.video) }}" type="video/mp4">
    </video>
{% endif %}
<p>{{ (faq.text or faq.title? faq.text : 'Keine Hilfe hinterlegt')|raw }}</p>

