<div class="card card-loaded" style="z-index:3;margin:0;width:auto;position: absolute;top: 0;left: 26px" data-popover-target="card">
    <div class="card-body" style="text-align:left;">
        {{ title }}
        <p style="text-align:left;font-weight: normal;font-size: 12px;padding: 10px 0">{{ text|raw }}</p>
    </div>
</div>