<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="text-center col-md-12 col-xs-12">
                <h4>{{ 'm.notice'|trans }} / {{ offer.number }}</h4>
                <p style="width: 100%;text-decoration: underline;">
                    {{ form_widget(form.notice) }}
                </p>
            </div>
        </div>
    </div>
</div>