<div style="position: relative;">
    <img style="height: 52px;position: absolute;top: 10px;left: 0" src="{{ absolute_url(asset(appAssetPath~'logo/logo_dark_in.png')) }}">
    <img style="height: 70px;position: absolute;top: 0;right: -20px" src="{{ absolute_url(asset(appAssetPath~'logo/e-marke_color.jpeg')) }}">
    <p style="text-align:right"><br><br><br><br><br>Aufmassprotokoll Nr.: <input disabled style="cursor: not-allowed;width: 100px" class="check_i" type="text" name="offer_check[number]" value="A01-{{ offer.number }}"></p>
</div>