<div class="row headBox2 headBoxSmall page-payable">
    <div class="text-center col-12 m-0 p-0">
        <p class="head_small_p" style="font-size: 18px;font-weight: bold;">{{ 'planAndPay'|trans }}</p>
    </div>
</div>