<div class="row hBox headBoxSmall page-agb-title" style="padding-top: 2px">
    <div class="text-center col-12 m-0 p-0">
        <p class="head_small_p" style="font-size: 18px">{{ 'agb.title'|trans|upper }}</p>
    </div>
</div>