<div class="row m-0 page-pager pt-1 text-right" style="padding-right: 50px;text-align: right">
    <p class="smaller w-100 text-right" style="font-weight: bold">{{ 'o.pageNumber'|trans({'%page%':page}) }}</p>
</div>