<div class="row pt-5">
    <div class="text-left col-12">
        <h4 style="color: {{ sfColor }}">{{ 'm.notice'|trans }}</h4>
        <p style="width: 100%;text-decoration: underline;">
            {{ form_widget(form.notice) }}
        </p>
    </div>
</div>