<h2 id="mail-sub-title" style="padding-top: 0; padding-bottom: 0; font-weight: 300; vertical-align: baseline; font-size: 1.1rem; line-height: 120%; margin: 0 0 16px;" align="left">
    {% include appTemplate~'pdf/_salutation.html.twig' with {'customer': customer} %}
</h2>