<head>
    <!-- Compiled with Bootstrap Email version: 1.3.1 --><meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <!--[if mso]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            <o:AllowPNG/>
        </o:OfficeDocumentSettings>
    </xml><![endif]--><!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css"/><!--<![endif]-->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: inherit !important;
        }

        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
        }

        p {
            line-height: inherit
        }

        .desktop_hide,
        .desktop_hide table {
            mso-hide: all;
            display: none;
            max-height: 0px;
            overflow: hidden;
        }

        .image_block img + div {
            display: none;
        }

        .menu_block.desktop_hide .menu-links span {
            mso-hide: all;
        }

        @media (max-width: 700px) {

            .desktop_hide table.icons-inner,
            .social_block.desktop_hide .social-table {
                display: inline-block !important;
            }

            .icons-inner {
                text-align: center;
            }

            .icons-inner td {
                margin: 0 auto;
            }

            .mobile_hide {
                display: none;
            }
            .center-footer{
                text-align: center !important;
                padding-left: 0;
                padding-right: 0;
            }
            p.footertd{
                padding: 0 10%
            }

            .row-content {
                width: 94% !important;
            }

            .stack .column {
                width: 100%;
                display: block;
            }

            .mobile_hide {
                min-height: 0;
                max-height: 0;
                max-width: 0;
                overflow: hidden;
                font-size: 0px;
            }

            .desktop_hide,
            .desktop_hide table {
                display: table !important;
                max-height: none !important;
            }

            .row-5 .column-1 .block-2.menu_block .alignment,
            .row-5 .column-2 .block-2.menu_block .alignment,
            .row-5 .column-3 .block-2.menu_block .alignment {
                text-align: right !important;
            }

            .row-6 .column-1 .block-1.icons_block .alignment {
                text-align: center !important;
            }

            .row-1 .column-1 {
                padding: 25px 40px 20px !important;
            }

            .row-1 .column-2 {
                padding: 5px 40px 5px 0 !important;
            }
            .logo-col{padding-right: 0}
            .logo-col2{display: none}
            .footer-center{text-align: center !important}
            .no-pad{padding-left: 0 !important;padding-right: 0 !important}
            .pad-5 {padding-right: 5px !important;padding-left: 5px !important;}
        }
    </style>
</head>
{#<head>#}
{#    <title>{{ title }}</title>#}
{#    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>#}
{#    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>#}
{#    <!--[if mso]>#}
{#    <xml>#}
{#        <o:OfficeDocumentSettings>#}
{#            <o:PixelsPerInch>96</o:PixelsPerInch>#}
{#            <o:AllowPNG/>#}
{#        </o:OfficeDocumentSettings>#}
{#    </xml><![endif]--><!--[if !mso]><!-->#}
{#    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/><!--<![endif]-->#}
{#    <style>#}
{#        * {#}
{#            box-sizing: border-box;#}
{#        }#}

{#        body {#}
{#            margin: 0;#}
{#            padding: 0;#}
{#        }#}

{#        a[x-apple-data-detectors] {#}
{#            color: inherit !important;#}
{#            text-decoration: inherit !important;#}
{#        }#}

{#        #MessageViewBody a {#}
{#            color: inherit;#}
{#            text-decoration: none;#}
{#        }#}

{#        p {#}
{#            line-height: inherit#}
{#        }#}

{#        .desktop_hide,#}
{#        .desktop_hide table {#}
{#            mso-hide: all;#}
{#            display: none;#}
{#            max-height: 0;#}
{#            overflow: hidden;#}
{#        }#}

{#        .image_block img + div {#}
{#            display: none;#}
{#        }#}

{#        .menu_block.desktop_hide .menu-links span {#}
{#            mso-hide: all;#}
{#        }#}

{#        @media (max-width: 720px) {#}
{#            .desktop_hide table.icons-inner {#}
{#                display: inline-block !important;#}
{#            }#}

{#            .icons-inner {#}
{#                text-align: center;#}
{#            }#}

{#            .icons-inner td {#}
{#                margin: 0 auto;#}
{#            }#}

{#            .row-content {#}
{#                width: 100% !important;#}
{#            }#}

{#            .mobile_hide {#}
{#                display: none;#}
{#            }#}

{#            .stack .column {#}
{#                width: 100%;#}
{#                display: block;#}
{#            }#}

{#            .mobile_hide {#}
{#                min-height: 0;#}
{#                max-height: 0;#}
{#                max-width: 0;#}
{#                overflow: hidden;#}
{#                font-size: 0;#}
{#            }#}

{#            .desktop_hide,#}
{#            .desktop_hide table {#}
{#                display: table !important;#}
{#                max-height: none !important;#}
{#            }#}
{#        }#}
{#    </style>#}
{#</head>#}