<form method="post" action="{{ path('app_project_team_delete', {'id': project_team.id}) }}" onsubmit="return confirm('{{ 'teams.confirm.delete'|trans }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project_team.id) }}">
    <button class="btn btn-danger btn-sm">{{ 'w.delete'|trans }}</button>
</form>
