{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input:checked + label {
            background: transparent !important;
        }
        .form-check .form-check-input {
            z-index: 1;
            height: auto;
            width: auto;
            opacity: 1;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'backend/user/_script.html.twig' %}
{% endblock %}

{% block main %}
<div class="row" id="wallbox">
    <div class="col-md-12">
        <a href="{{ path('backend_user_index') }}"><i class="material-symbols-outlined">list</i></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Neuen Mitarbeiter anlegen</h4>
            </div>
            <div class="card-body table-responsive">
                {{ include('backend/user/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
