<div class="row boxHeadLine">
    <div class="col-9 m-0 p-0" style="padding-left: 35px !important;">
        <p class="text-center m-0 p-0">{{ offer.subCategory.serviceTitle|raw }}</p>
    </div>
    <div class="col-3 p-0 m-0 text-left" style="overflow:initial;margin-left: -12px !important;">
        <p class="headerLineRightSmall" style="overflow: initial">{{ offer.subCategory.serviceText|replace({' ':'&nbsp;'})|raw }}</p>
    </div>
</div>