<div class="row hBox headBoxSmall page-leistungsverzeichnis p-0">
    <div class="text-center col-12">
        <p class="head_small_p" style="font-weight: normal;font-size:18px;padding-top: 4px;">{{ 'o.settings.powerValuesTitle'|trans|upper }}</p>
    </div>
</div>