<div class="form-group row">
    <label for="offer_installAmount" class="funnel{{ question.funnelEnd ? 'End' : 'Start' }} col-form-label">{{ question.name }}</label>
    <div class="col-sm-{{ col2 }}  m-0 p-0">
        {{ form_widget(form.installAmount, {'attr': {'data-question': question.id }}) }}
    </div>
</div>