<div class="row request-item-wrapper">
    <div class="filename-item col-3">
    {{ form_row(form.filename) }}
    </div>
    <div class="description-item col-3">
        {{ form_row(form.description) }}
    </div>
    <div class="file-item col-3">
        {{ form_row(form.file) }}
    </div>
    <a href="#" class="js-remove-request-collection-item pull-right">
        <span class="material-icons">close</span>
    </a>
</div>

