<strong>{% if offer.wallboxProduct %}{{ offer.wallboxProduct.name }}{% endif %}</strong>
{% if offer.wallboxProduct %} {{ offer.wallboxProduct.description }}{% endif %}
<div class="d-none m-0 p-0">{{ offer.wallboxProduct.name }}
{% if offer.wallboxProduct %} {{ offer.wallboxProduct.description }}{% endif %}
</div>
