<style>
    .fz10 p {font-size: 10px !important;}
</style>
<table class="fz10" style="border: none;">
    <tr>
        <td style="width: 50%;padding: 0;position: relative">
            <table style="border:none;margin: 0;">
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">1</span></td>
                    <td><p>Im <strong>Prüfprotokoll</strong> sind die technischen Werte des Istzustands der elektrischen Anlage, nach DIN VDE 0100-600 (Erstprüfung), festgehalten</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">2</span></td>
                    <td><p><strong>Auftraggeber</strong> ist derjenige, in dessen Auftrag, und für dessen Rechnung die elektrische Anlage errichtet, erweitert oder geändert worden ist (Anschlussnehmer, Anlagenbenutzer, Anlagenbetreiber).
                            Er bestätigt mit seiner Unterschrift:<br>
                            "Die errichtete Anlage ist vom Auftragnehmer in dem Umfang übergeben worden, wie es im Übergabebericht niedergelegt ist."<br><br>
                            Mit der Unterschrift bestätigt der Auftraggeber die Abnahme und vertragsgemäße Lieferung. Damit ist der Stichtag für die Übergabe der errichteten elektrischen Anlage festgelegt. Das bedeutet in der Praxis:<br>
                            Bei einer Vertragsvereinbarung im Unternehmerverkehr nach DIN 1961 "Vergabe- und Vertragsordnung für Bauleistungen - VOB", Teil B "Allgemeine Vertragsbedingungen für die Ausführung von Bauleistungen", geht mit der Abnahme die Gefahr auf den Auftraggeber über (§ 12 Nr. 6 VOB, Teil B), soweit der Auftraggeber sie nicht schon nach § 7 VOB, Teil B (Verteilung der Gefahr), trägt.
                            Nach § 13 Nr. 4 VOB, Teil B, beträgt die Gewährleistungsfrist für Arbeiten an Bauwerken 4 Jahre, bei Nichtannahme eines Angebotes zum Abschluss eines Wartungsvertrages jedoch nur 2 Jahre (§ 13 Nr. 4 (2) VOB, Teil B).</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">3</span></td>
                    <td><p><strong>Auftragnehmer</strong> ist der mit der Durchführung der Arbeiten vom Auftraggeber Beauftragte, der mit dem Elektrotechniker-Handwerk in die Handwerksrolle und beim örtlichen Netzbetreiber in das Elektro-Installateurverzeichnis eingetragen ist.
                            Er ist aufgrund seiner Kenntnisse, Erfahrungen sowie Fort- und Weiterbildung in der Lage, die elektrische Anlage vorschriftsmäßig zu prüfen.</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">4</span></td>
                    <td><p><strong>Prüfer</strong> ist der verantwortliche Unternehmer (Auftragnehmer) selbst oder die von ihm mit der Durchführung der Prüfung ausdrücklich beauftragte Elektrofachkraft. Der Prüfer bestätigt mit seiner Unterschrift sowohl gegenüber seinem Unternehmer (Arbeitgeber) als auch gegenüber dem Auftraggeber die vorschriftsmäßig durchgeführte Prüfung. Verweigert der Auftraggeber seine Unterschrift, so ist dieses schriftlich zu vermerken und die Prüfungsunterlagen sind ihm per Post mit einem entsprechenden Anschreiben zuzustellen.
                            Dokumentation ist die Sammlung zugeordneter Dokumente, z. B. Schaltpläne, Diagramme oder Tabellen DIN EN 61082, (VDE 0040).</p></td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">5</span></td>
                    <td><p>Genaue Bezeichnung/Angaben der <strong>elektrischen Anlage</strong>>, Gebäude Art,
                            Ort oder Gebäudeteil; bei einem größeren Objekt: z.B.
                            „Erdgeschoss, Unterverteiler 2” oder „Werkhalle,
                            Unterverteiler 10”.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">6</span></td>
                    <td><p>Es ist je nach die der <strong>Prüfung</strong> zugrunde liegenden VDE Bestimmungen anzukreuzen ob es sich um eine Neuanlage,
                            Erweiterung oder Änderung, bzw. Wiederholungsprüfung oder
                            Instandsetzung handelt und ob eine Rechtsverordnung (DGUV
                            V3, BetrSichV) oder der E-CHECK Grund für die Durchführung
                            der Prüfung ist. Eine in diesem Zusammenhang möglicherweise
                            erforderliche Hilfestellung ist im Erläuterungstext auf der
                            Rückseite des Übergabeberichts/Zustandsberichts abgedruckt.
                            Dabei ist zu beachten, dass es sich bei dem E-CHECK um keine
                            vorgeschriebene Prüfung mit Prüfungsfristen handelt, sondern
                            um eine kostenpflichtige Serviceleistung der Innungsbetriebes
                            des Elektrohandwerks, angelehnt an die Prüfempfehlungen aus
                            der DGUV Vorschrift 3.</p></td>
                </tr>
            </table>
        </td>
        <td style="width: 50%;padding: 10px;position: relative">
            <table style="border:none;margin: 0;">
                <tr>
                    <td style="width: 30px"><span class="numberCircleHelp">7</span></td>
                    <td>
                        <h3>Spannungsabfall:</h3>
                        <ul style="list-style: square">
                            <li>0,5% - 1,5% im Hauptstromversorgungssystem abhängig vom Leistungsbedarf</li>
                            <li>3% Spannungsabfall hinter Messeinrichtung bis zum Verbrauchermaterial nach DIN 18015-1</li>
                            <li>Spannungsabfall nach DIN VDE 0100-520</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30px"><span style="padding: 2px;" class="numberCircleHelp">10</span></td>
                    <td>
                        <p>Der <strong>E-CHECK</strong> ist die anerkannte, normengerechte Prüfung aller elektrischen Anlagen und Geräte im Haus. Beim E-CHECK wird geprüft, ob sich die Anlagen und Geräte im ordnungsgemäßen Zustand im Sinne der jeweils geltenden VDE-Bestimmungen befinden.
                            <br>Bei einem E-Check handelt es sich um eine anerkannte, normengerechte Prüfung von elektrischen Anlagen und Geräten. Auf der Grundlage der geltenden VDE-Bestimmungen wird geprüft, ob sich die Geräte und Anlagen in einem ordnungsgemäßen Zustand befinden.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30px"><span style="padding: 2px;" class="numberCircleHelp">11</span></td>
                    <td>
                        <p>Die <strong>DGUV 3</strong> ist eine Unfallverhütungsvorschrift der Deutschen Gesetzlichen Unfallversicherung (DGUV). Diese Vorschriften stellen die verbindlichen Pflichten bezüglich Arbeitssicherheit und Gesundheitsschutz am Arbeitsplatz dar. Sie gelten für jedes Unternehmen und jeden Versicherten der gesetzlichen Unfallversicherung.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30px"><span style="padding: 2px;" class="numberCircleHelp">12</span></td>
                    <td>
                        <p>In der <strong>Betriebssicherheitsverordnung (BetrSichV)</strong> sind alle arbeitsschutzrechtlichen Regelungen für die Benutzung von Arbeitsmitteln und den Betrieb überwachungsbedürftiger Anlagen zusammenfassend geregelt.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% include 'offer/montage/intern/checkpage/_copyrights.html.twig' %}