{% extends 'base.html.twig' %}

{% block title %}{{ 'w.settings'|trans }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3>Einstellungen bearbeiten</h3>
            </div>
        </div>
    </div>
{% endblock %}