{% extends 'base.html.twig' %}

{% block title %}{{ 'w.settings'|trans }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Einstellungen festlegen</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}