{% extends 'base.html.twig' %}

{% block title %}Grok{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.sendform').on('click', function () {
            $('#la-txt').text($('.la-tt').val())
            $('#la').css('display', 'block')
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .notification {position: relative;}
        .sidebar .logo .simple-text {overflow: inherit;}
        *, *:before, *:after {box-sizing: border-box;}
        body {background-color: #f3f3f3;}  .wrapper {
            min-height: 100vh;
            display: contents;
            justify-content: left;
            align-items: baseline;
            margin-left: 130px;
            width: max-content;
        }
        .steps {height: 600px; margin: 0 20px 50px 0;overflow: scroll}
        .step {display: flex;position: relative;}
        .step:after {
            content: "";
            position: absolute;
            left: 15px;
            top: 32px;
            height: 0;
            width: 2px;
            background-color: #aeced3;
        }
        .step .info {margin: 8px 0 20px;}
        .step .title {
            font-size: 12px;
            font-weight: 400;
            margin: 0 0 8px;
            color: #979797;
        }
        .step .text {color: #000; padding-bottom: 0;margin: 0;}
        .step:not(:last-child):after {height: 75%;}
        .number {
            width: 32px;
            height: 32px;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid #007EA7;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 15px;
            font-weight: 600;
            margin-right: 14px;
        }
        .number.completed {background-color: #007EA7;}
        .number svg {
            width: 16px;
            height: 16px;
            object-fit: contain;
        }
        .number svg path {fill: white;}
        .mut {
            width: auto;
            background-color: #fff;
            /* position: fixed; bottom: 100px; */
            margin-left: 0;
            padding: 0;
        }
        textarea {width: 250px !important;}
        @media screen and (min-width: 500px) and (max-width: 700px) {
            textarea {width: 500px !important;}
        }
        @media screen and (min-width: 701px) and (max-width: 990px) {
            textarea {width: 600px !important;}
        }
        @media screen and (max-width: 991px) {
            .wrapper {margin-left: 30px;}
        }
        @media screen and (min-width: 992px) {
            textarea {width: 700px !important;}
        }
        .card .card-header {
            z-index: inherit;
        }
    </style>
{% endblock %}

{% block body %}

    <form action="{{ path('booking_index') }}" method="get">
        <button class="btn btn-white" type="submit" style="float: right;"><img src="{{ asset('app/images/loschen.png') }}" style="width: 20px;height: 20px"></button>
    </form>

{#    {% include 'chat/_chat.html.twig' %}#}
{% endblock %}
{% block footer %}{% endblock %}